* {
    font-family: 'Roboto', sans-serif; 
}

body {
    padding: 2% 15px 25px;
    background-color: #fff;
    text-color: #070707;
    max-width: 620px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #777;
}
a:hover, a:active {
    color: #aaa;
}

h1 {
    font-size: 25pt;
    text-align: center;
}

ul#nav {
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;

    text-align: center;
}

ul#nav li {
    display: inline;
    padding: 0px 20px;
    font-size: 15pt;
}

hr {
    border-color: #FFFFFF;
    border-top-width: 0.25;
}


