.base-container {
    max-width: 800px;
    margin:auto;
    margin-top:20px;
}

.page-title {
    margin-top: 5px;
    margin-bottom: 5px;
}
.post-meta {
    padding-top: 4px;
    padding-bottom: 4px;
}
a {
    text-decoration: none;  
}
pre {
    overflow-x: auto;
}

.blog-excerpt .footnotes {
    display: none;
}

.blog-excerpt sup .footnote {
    color; #FF0;
    display: none;
}
