<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            {% include header.html %}

            <main class="mdl-layout__content">
                <div class="base-container">
                {{ content }}
                </div>
            </main>
            <script
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
            type="text/javascript"></script>
        </div>
    </body>
</html>
