<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ page.title | default: "alexalex" }}
    </title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>

    <style>

td.course:nth-child(1) {
  width: 7em;
}
td.course:nth-child(3) {
  width: 4em;
}
@media only screen and (min-width: 440px) {
  td.course:nth-child(3) {
    width: 20%;
    min-width: 8em;
  }
  td.course:nth-child(1) {
    width: 9em;
  }
}

section {
  margin-bottom: var(--spacing);
}

h1,h2,h3,h4,h5,h6 {
  --typography-spacing-vertical: var(--spacing);
}

    </style>
  </head>
  <body class="container">
    <main>
      {{ content }}
    </main>
  </body>
</html>
