---
layout: default
---
<article>
<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <!--<h1 class="mdl-card__title-text">
            {{ page.title }} 
        </h1>-->
        <h1 class="post-title">
            {{ page.title }} 
        </h1>
    </div>
    <div class="mdl-card__supporting-text post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%-d %b, %Y" }}
            </time>
            <!--
            {% if page.author %} 
                by {{ page.author }}
            {% endif %}
            -->
    </div>
    <div class="mdl-card__supporting-text" itemprop="articleBody">
        {{ content|markdownify }}
    </div>
</div>
</article>
